@font-face {
    font-family: 'tangak';
    src: url('../fonts/10945.eot');
    src: local('☺'), url('../fonts/10945.woff') format('woff'), url('../fonts/10945.ttf') format('truetype'), url('../fonts/10945.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'scriptorama';
    src: url('../fonts/4359.eot');
    src: local('☺'), url('../fonts/4359.woff') format('woff'), url('../fonts/4359.ttf') format('truetype'), url('../fonts/4359.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot');
    src: local('☺'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf') format('truetype'), url('../fonts/MinionPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*::-webkit-input-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

*:-moz-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

*::-moz-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

html {
    height: 100%;
}

body {
    color: #000;
    font-size: 16px;
    min-width: 320px;
}

a, a:hover {
    color: inherit;
}

img {
    max-width: 100%;
    object-fit: cover;
}
.logo a {
    font-family: 'tangak';
    font-size: 36px;
    color:  #ffcc00;
    text-transform: uppercase;
    text-decoration: none;
}

.logo a span {
    color: white;
}

header.header {
    background: green;
    border-bottom: 2px solid white;
}

.menu ul li {
    display: inline-block;
    float: left;
    padding: 3px 10px;
    border-radius: 25px;
}

.menu ul li a {
    padding: 0;
    font-family: 'PTSansRegular';
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    background: none !important;
}
.menu ul li.active,.menu ul li:hover {
    background: #ffcc00;
}

.menu ul li.active a, .menu ul li:hover a {
    color: black;
}

.menu ul li a {}

.newnavbar {
    margin-top:  10px;
    margin-bottom: 10px;
}

.menu {margin-top: 10px;}

.phone a,.phone
span {
    display: block;
    font-family:  'PTSansRegular';
    line-height: 1;
}

.phone a {
    font-size: 24px;
    color: white;
    text-align: right;
    text-decoration: none;
}

.phone span {
    font-size: 12px;
    text-align: right;
    color: #ffcc00;
}

.phone {
    margin-top: 5px;
}